body  > .content-container {
  width: 100%;
  height: 100%;
  background-image: asset-url("o.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.devise-box {
  font-family: MetaWebPro-Bold,sans-serif;
  font-size: 14px;
  padding-top: 180px;
  padding-left: 460px;
  width: 60%;
  position: relative;
  color: white;
}
