/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple-sidebar
 *= require font-awesome
*/
@import "jquery.ui.all";
@import "bootstrap-sprockets";
@import "bootstrap";

h1, h2, h3{
  margin-top: 0px;
  padding-top: 10px;
  color: #fff;
}

.details_row{
  padding-left: 10px;
}

.table_container {
  overflow-y: scroll;
  max-height: 250px;
}

.btn-primary {
  background-color: #de3163;
  border-color: #de3163;
}

.popup_container{
  background:rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding-left: 33%;
  padding-right: 33%;
  padding-top: 5%;
}

a:visited{
  color: #fff;
}

td{
  a:visited{
    color: blue;
}
}
a a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

body {
  font-family: helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-image: asset-url("background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div.nav-bar {
  font-size: 20px;
}
.error{
  border:2px solid red;
}

span.view-title {
  font-size: 24px;
  color: #999999;
  font-weight: normal !important;
  line-height: 30px;
}

.view-header {
  margin-top: 10px;
  background-color: #f5f5f5;
  width: 100%;
  padding: 10px 20px 10px 20px;
}
.table_head{
  font-size: 12px;
}
.content_container {
  background-color: white;
  padding: 10px;
  margin-top:10px;
}
.form-group.required .control-label:after { 
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 8px;
  top:7px;
  font-size: 14px;
}

.fa-home{
  color: #fff;
}
