// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.completed{
  text-decoration: line-through;
}
td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
table {
    border-collapse: collapse;
    width: 50%;
    table-layout: fixed;
}